// Primary
$color-p-bordeaux: #5C2122;
$color-p-gold: #F9B323;
$color-p-white: #FFFFFF;

// Neutral Colors
$color-n-chrome: #858AAB;
$color-n-silver: #E9E9E9;
$color-n-titanium: #8C8C8C;

$color-n-black: #000000;