.title--shd {
    word-spacing: 580px;
    color: #07071C;
    border: 1px solid #FFE8C6;
    text-shadow: 0px 4px 9px rgba(255, 255, 255, 0.15), 0px 1px 0px #FFFDFA, 0px 2px 0px #FFD494, 0px 3px 0px #07071C;
}
.title--underline--shd {
    background: #172718;
    border: 2px solid #07071C;
    max-width: 480px;
}